# TASK 1

'''IRIS FLOWER CLASSIFICATION

Iris flower has three species; setosa, versicolor, and virginica, which differs according to their
measurements. Now assume that you have the measurements of the iris flowers according to
their species, and here your task is to train a machine learning model that can learn from the
measurements of the iris species and classify them.



Although the Scikit-learn library provides a dataset for iris flower classification, you can also
download the same dataset from here for the task of iris flower classification with Machine
Learning. '''

IRIS FLOWER CLASSIFICATION

Iris flower has three species- Iris-setosa, Iris-versicolor, and Iris-virginica.

Dataset description:

1.Iris-setosa : 50
2.Iris-versicolor : 50
3.Iris-virginica : 50

# importing modules

In [11]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import sklearn
import matplotlib
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv(r"C:\Users\Admin\Downloads\Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
# Check for missing values
df.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [4]:
df['Species'].value_counts() ##Dispalying no of samples on each class

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [5]:
df = df.drop(columns = ['Id'],axis=1) ## Deleting column
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

# data processing

In [7]:
# Split data into features and target
#Split Data into Training and Testing Sets

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop('Species',axis=1),df['Species'],test_size=0.2,random_state=55)

# Model used for deployment : KNeighborsClassifier

In [12]:
from sklearn.neighbors import KNeighborsClassifier
knn_model=KNeighborsClassifier()
knn_model.fit(x_train,y_train)
y_pred=knn_model.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print('accuracy_score',accuracy)

accuracy_score 0.9666666666666667

# Loading Libraries

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC 
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

# model training

In [14]:
#DecisionTreeClassifier

dt_model=DecisionTreeClassifier()
dt_model.fit(x_train,y_train)
#Evaluate the Model
y_pred=dt_model.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print('accuracy_score',accuracy)

accuracy_score 0.9666666666666667

In [15]:
### Support Vector Machine classifier

svm_model=SVC()
svm_model.fit(x_train,y_train)
y_pred=svm_model.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print('accuracy_score',accuracy)

accuracy_score 0.9666666666666667

In [16]:
#LogisticRegressionClassifier

logistic_model=LogisticRegression()
logistic_model.fit(x_train,y_train)
y_pred=logistic_model.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print('accuracy_score',accuracy)

accuracy_score 0.9666666666666667

In [17]:
## Gaussian Naive Bayes classifier

naive_model=GaussianNB()
naive_model.fit(x_train,y_train)
y_pred=naive_model.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print('accuracy_score',accuracy)

accuracy_score 0.9666666666666667

In [18]:
# K-Nearest Neighbors classifier

knn_model=KNeighborsClassifier()
knn_model.fit(x_train,y_train)
y_pred=knn_model.predict(x_test)
accuracy=accuracy_score(y_test,y_pred)
print('accuracy_score',accuracy)

accuracy_score 0.9666666666666667

In [24]:
## saving K-Nearest Neighbors classifier model
import pickle
model_filename = 'knn_model.pkl'

# Save the model
with open(model_filename, 'wb') as model_file:
    pickle.dump(knn_model, model_file)

In [25]:
loaded_model = "knn_model.pkl"
with open(model_filename, 'rb') as model_file:
    loaded_model = pickle.load(model_file)

In [26]:
loaded_model

KNeighborsClassifier()

In [21]:
load_model = pickle.load(open(filename,'rb'))
load_model

KNeighborsClassifier()

In [28]:
load_model.predict([[5.5,3.5,1.3,0.2]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Iris-setosa'], dtype=object)

In [37]:
load_model.predict([[7.0,3.2,4.7,1.4]])

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array(['Iris-versicolor'], dtype=object)

In [ ]:
load_model.predict()